name: Build Geode Android

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - master

jobs:
  build:
    name: Android Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Build Mod
        # Esta es la única acción que funciona ahora mismo
        uses: geode-sdk/build-geode-mod@main
        with:
          # Aquí forzamos la plataforma directamente en los argumentos del CLI
          build-args: --platform android
          combine: true
          
