name: Build Geode Android

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - master

jobs:
  build:
    name: Android Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Geode CLI
        uses: geode-sdk/setup-geode@main

      - name: Build Mod
        run: |
          geode sdk install-binaries
          geode build --platform android --release
          
