name: Build Geode Android

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    name: Android Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Geode SDK
        uses: geode-sdk/setup-geode-sdk@v1

      - name: Build Mod
        run: |
          geode build --platform android --release

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Android-Mod-Package
          path: "**/*.geode"
          
